a{
    text-decoration:none;
    color:rgb(13, 150, 196);
}
input,textarea,button,select{
    border:none;
}
input[type="password"]:focus{
    background-color: #e1e2e3;
    outline:#e1e2e3 auto 1px;
}
input[type="text"]:focus{
    background-color: #e1e2e3;
    outline:#e1e2e3 auto 1px;
}
input[type="button"]{
    margin-left: 15px;
    padding: 0 8px;
    height: 25px;
    border-radius: 5%;
    border: 1px solid #e1e2e3;
    font-size: 13px;
}

.container{
    margin:0 auto;
    /* text-align: center; */
}
.container>h3{
text-align: center;
}
.container .form .inputList{
    width: 600px;
    height: 50px;
    line-height: 50px;
}
.container .form .inputList>.inputItem{
    border: 1px solid #e1e2e3;
    padding: 6px 8px;
    width: 255px;
    height: 18px;
    border-radius: 6%;
}
.container .form .commit{
    height: 30px;
    margin-top: 10px;
    position: relative;
}
.container .form .commit .one>input[type="button"]{
    position: absolute;
    height: 30px;
    left: 40%;
    background-color: #38e;
    color: #fff;
    padding:3px 8px;
    font-size: 14px;
}
.container .form .commit .turnBack{
    position: absolute;
    right: 15%;
    line-height: 30px;
}
.container .form .close{
    background-color: rgb(255,248,228);
    border: 1px solid moccasin;
    position: relative;
    height: 30px;
    line-height: 30px;
    width: 340px;
    margin-top: 20px;
}
.container .form .close>a{
    position: absolute;
    right: 5%;
    color: black;
}
.container .form .close>a:hover{
    cursor: pointer;
}